$paragraph: (
  colors: (
    default: $base-black-color,
    primary: $base-primary-color,
  ),
);

.paragraph {
  @extend %paragraph-reset;

  &__color {
    @include modifiers(map-get-strict($paragraph, colors), color);
  }

  &__align {
    @include text-align-modifiers;
  }
}
